* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Pretendard;
  font-size: 10px;
  transition: 0.15s background;
}

@media (max-width: 600px) {
  * {
    font-size: 8px;
  }
}

@media (max-width: 600px) {
  * {
    font-size: 7.5px;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}
